
*{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
}


.container{
    max-width: 1170px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
}

.center{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 500px;
    border: 2px solid;
    background-color: beige;
    margin-top:70px;
    
}

section h1 {
	margin: 20px 0px;
	font-size: 3rem;
	text-transform: uppercase;
}

#ulList {
	display: flex;
	justify-content: space-between;
	padding: 5px;
	margin: 10px 0px;
    
}

li{
    margin-top: 10px;
    border: 2px solid ;
    padding: 10px;
   
}


.padding{
    padding: 10px;
}

.btn{
    color: rgb(128, 255, 0);
    background-color: darkslateblue;
    border: none;
    text-transform: capitalize;
    font-weight: 800;
    cursor: pointer;
}

#ulList li {
	margin: 0;
	padding: 0;
	width: 250px;
	height: 30px;
	text-align: center;
	line-height: 30px;
}
#ulList button {
	padding: 0px 0px;
	background: coral;
	width: 20%;
	height: 36px;
	margin: -2px 0px;
}


