*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: seashell;
    font-size: 2rem;
}


h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: azure;
    text-align: center;
    padding: .5rem 0;
    color: #cc00ff;
    letter-spacing: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
   
    
;
}


